body{
    margin: 0px;
    padding: 0px;
    background-color:rgba(125, 74, 10, 0.10) ;
}
.Form{
    width: 450px;
    height: 720px;
    background-color: rgba(255, 255, 255, 0.92);
    margin: 100px auto;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.18);
}
.Form h2{
    text-align: center;
    margin-bottom: 15px;
    color: #111;
    letter-spacing: 0.4px;
}
.Form h4{
    color: #111;
    font-size: 16px;
}
.Form input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 4px;
}
.Form .button{
    margin: 30px auto;
    height: 40px;
    width: 120px;
    background-color: rgba(125, 74, 10, 0.95);
    border-radius: 40px;
    color: #111;
}
.Form .button a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-align: center;
    color: #111;
    text-decoration: none;
    font-weight: bold;
}
.Form .Login{
    text-align: center;
    margin-top: 20px;
    gap: 5px;
    display: flex;
    justify-content: center;
}
.Form .Login p{
    margin: 0;
    color: #111;

}
.Form .Login a{
    color: #111;
    text-decoration: none;
    font-weight: bold;
}
.Form p{
    text-align: center;
    margin-top: 20px;
    color: #111;
}